# Using the Nested-Dask `nest` Accessor

The `nest` accessor implements an additional API layer to support working with nested columns of a `NestedFrame`.

> **_NOTE:_** The nest accessor in Nested-Dask has a limited implementation compared to Nested-Pandas

In [16]:
from dask_nested.datasets import generate_data

# generate_data creates some toy data
ndf = generate_data(10, 5)  # 10 rows, 5 nested rows per row
ndf

Dask NestedFrame Structure:
                     a        b                                               nested
npartitions=1
0              float64  float64  nested<t: [double], flux: [double], band: [string]>
9                  ...      ...                                                  ...
Dask Name: repartition, 3 expressions
Expr=Repartition(frame=MapPartitions(NestedFrame), new_partitions=1)

The `nest` accessor is available when selecting a nested column of a `NestedFrame`. For example:

In [17]:
ndf["nested"].nest

Nested column labels can be viewed using the `fields` property:

In [18]:
ndf["nested"].nest.fields

['t', 'flux', 'band']

Nested data can be viewed in different formats using `nest` accessor functions.

`to_flat` will take the nested data and send it to a single flat `DataFrame`:

In [19]:
flat_nested = ndf["nested"].nest.to_flat()
flat_nested

Dask DataFrame Structure:
                             t             flux             band
npartitions=1
0              double[pyarrow]  double[pyarrow]  string[pyarrow]
9                          ...              ...              ...
Dask Name: lambda, 5 expressions
Expr=MapPartitions(lambda)

In [20]:
flat_nested.head(20)

           t       flux band
0  13.509629  88.914048    r
0   8.634948  79.231053    g
0  17.119157   5.928274    r
0  19.561653  46.766275    r
0  13.746892  84.034938    g
1  10.561542  81.163032    g
1   1.354972   3.397109    r
1     9.6219  75.977237    r
1    0.07304  43.562784    g
1   7.657719  12.362825    g
2   5.652833  46.674879    r
2   4.813034  30.925827    g
2   0.800736  93.787431    g
2  13.317202  36.264783    r
2      3.159  47.166825    g
3   4.214378  23.836587    g
3    13.1752  38.680537    r
3   6.579436  61.964227    g
3   8.143109  25.909146    g
3   1.839672  86.719744    r

The index of the resulting flat dataframe is repeated and maps directly to the index of the original `NestedFrame`.

Alternatively, `to_lists` can be used to package the data into numpy arrays:

In [23]:
list_nested = ndf["nested"].nest.to_lists()
list_nested.compute()

                                                   t  ...                   band
0  [13.5096288   8.63494758 17.11915696 19.561652...  ...  ['r' 'g' 'r' 'r' 'g']
1  [10.5615423   1.35497198  9.62190035  0.073040...  ...  ['g' 'r' 'r' 'g' 'g']
2  [ 5.65283252  4.81303449  0.80073596 13.317201...  ...  ['r' 'g' 'g' 'r' 'g']
3  [ 4.214378   13.17520009  6.57943592  8.143109...  ...  ['g' 'r' 'g' 'g' 'r']
4  [4.31790223 9.2989414  0.19071925 7.55345992 7...  ...  ['r' 'r' 'g' 'g' 'r']
5  [ 0.8441804  17.12893578  5.99104788 16.905202...  ...  ['g' 'g' 'g' 'r' 'r']
6  [ 2.17272952 11.47100691 19.78062851 12.968281...  ...  ['g' 'g' 'r' 'r' 'r']
7  [ 7.31546622 14.96282356 15.17099992 15.028434...  ...  ['g' 'r' 'r' 'r' 'g']
8  [ 1.69038072 11.05890727 11.28588246  8.962195...  ...  ['r' 'r' 'r' 'r' 'g']
9  [ 1.20415091 18.31529619 16.92607067 15.473383...  ...  ['g' 'r' 'r' 'r' 'r']

[10 rows x 3 columns]